---
layout: page
title: Blog
permalink: /blog/
---
    
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    {{ post.date | date: "%-d %B %Y" }} - <span class="datetitle"><a href="{{ post.url }}">{{ post.title }}</a></span>
  </li>
  {% endfor %}
</ul>

   