---
layout: default
---

<div class="home">

  <div id="container">
    <div id="navbar">
        <p class="left-img"><img src="http://cdn.abhis.ws/cdn/site-images/abhishek.jpg" alt="Abhishek" /></p>
        <p><span class="occupation">Software Development Engineer</span> @ <span class="company">Amazon</span></p>
        <p>Working on Merchant Risk.</p>
        <p>Interested in distributed systems and algorithm design.</p>
        <p>&nbsp;</p>
        <ul>
          <li><a href="http://github.com/adeydas">Fork on <strong>Github</strong></a></li>
          <li><a href="http://cdn.abhis.ws/cdn/site-files/DeyDas_Resume.pdf">Download my <strong>Resume</strong></a></li>
          <li><a href="https://www.linkedin.com/in/adeydas">Contact on <strong>LinkedIn</strong></a></li>
        </ul>
    </div> 

    <div id="content">
      <h2>Professional experience</h2>
      <ul>
        <li><strong>Amazon</strong> - Software Development Engineer (Aug 2015 - Present).</li>
        <li><strong>Tango Analytics</strong> - Software Developer (June 2014 - Aug 2015).</li>
        <li><strong>Tango Analytics</strong> - Software Developer Intern (Jan 2014 - May 2014).</li>
        <li><strong>Amazon</strong> - Software Development Engineer Intern (May 2013 - Aug 2013).</li>
        <li><strong>Infosys</strong> - Systems Engineer (Dec 2010 - June 2012).</li>
      </ul>
      <hr />
      <h2>Education</h2>
      <ul>
        <li><strong>The University of Texas at Dallas</strong> - MS in Software Engineering (Aug 2012 - May 2014).</li>
        <li><strong>Gandhi Institute of Engineering and Technology</strong> - Btech in Computer Science and Engineering (Aug 2006 - May 2010).</li>
      </ul>
      <hr />
      <h2>Social</h2>
      <ul class="post-list">
        <li><a href="https://www.linkedin.com/in/adeydas">My Linkedin profile</a>.</li>
        <li><a href="http://github.com/adeydas">My repositories on Github</a>.</li>
        <li><a href="http://cdn.abhis.ws/cdn/site-files/DeyDas_Resume.pdf">My Resume</a>.</li>
      </ul>
    </div>
</div>

  </div>
  

</div>
