<footer class="site-footer">

  <div class="wrapper">

    <p class="copyright">&copy; All copyrights reserved. Contents on this site are my personal opinion, does not represent that of my employer and should be taken at your own risk.</p>

  </div>

</footer>
