---
layout: default
---
<div class="home">

  <div id="container">
    <div id="navbar">
        <p class="left-img"><img src="http://cdn.abhis.ws/cdn/site-images/abhishek.jpg" alt="Abhishek" /></p>
        <p><span class="occupation">Software Development Engineer</span> @ <span class="company">Amazon</span></p>
        <p>Working on Merchant Risk.</p>
        <p>Interested in distributed systems and algorithm design.</p>
        <p>&nbsp;</p>
        <ul>
          <li><a href="http://github.com/adeydas">Fork on <strong>Github</strong></a></li>
          <li><a href="http://cdn.abhis.ws/cdn/site-files/DeyDas_Resume.pdf">Download my <strong>Resume</strong></a></li>
          <li><a href="https://www.linkedin.com/in/adeydas">Contact on <strong>LinkedIn</strong></a></li>
        </ul>
    </div>

    <div id="content">
    <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

  </div>
  

</div>


