---
layout: default
---

<div class="home">

  <div id="container">
    <div id="navbar">
        <p class="left-img"><img src="http://cdn.abhis.ws/cdn/site-images/abhishek.jpg" alt="Abhishek" /></p>
        <p><span class="occupation">Software Development Engineer</span> @ <span class="company">Amazon</span></p>
        <p>Working on Merchant Risk.</p>
        <p>Interested in distributed systems and algorithm design.</p>
        <p>&nbsp;</p>
        <ul>
          <li><a href="http://github.com/adeydas">Fork on <strong>Github</strong></a></li>
          <li><a href="http://cdn.abhis.ws/cdn/site-files/DeyDas_Resume.pdf">Download my <strong>Resume</strong></a></li>
          <li><a href="https://www.linkedin.com/in/adeydas">Contact on <strong>LinkedIn</strong></a></li>
        </ul>
    </div>

    <div id="content">
    <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
        <p><strong>Sharing is caring....</strong></p>
        <!-- Twitter -->
        <a href="http://twitter.com/share?url=http://abhis.ws{{ page.url }}" target="_blank" class="share-btn twitter">
            <i class="fa fa-twitter"></i>
        </a>

        <!-- Google Plus -->
        <a href="https://plus.google.com/share?url=http://abhis.ws{{ page.url }}" target="_blank" class="share-btn google-plus">
            <i class="fa fa-google-plus"></i>
        </a>

        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer/sharer.php?u=http://abhis.ws{{ page.url }}" target="_blank" class="share-btn facebook">
            <i class="fa fa-facebook"></i>
        </a>

        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?url=http://abhis.ws{{ page.url }}" target="_blank" class="share-btn linkedin">
            <i class="fa fa-linkedin"></i>
        </a>

        <!-- Email -->
        <a href="mailto:?subject=HMTL%20Share%20Buttons&body=http://abhis.ws{{ page.url }}" target="_blank" class="share-btn email">
            <i class="fa fa-envelope"></i>
        </a>

  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'abhisws';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

  </div>
  

</div>


